.env
.env.local
__pycache__/
*.pyc
.venv/
node_modules/
.next/
.DS_Store
frontend/node_modules
sources/youtube/cleaned/
sources/youtube/raw/
sources/youtube/ingested/
sources/youtube/no_captions/
sources/youtube/no_captions/done/
sources/magazine/
sources/documents/
